.idea/
__pycache__
lastUsedGUI.ini
runSofa.ini 
*.vtu
*.txt
*.json
*.nii.gz
linear_probe_mehrdad_US_simulations/
Merge_labelmapsMultipleTissue_with_labelMapBone
US_simulation_visualizations
splines.csv